{% extends 'base.html' %}
{% block content %}
    {% if notfound %}
        <h3>{{ notfound }}</h3>
    {% else %}
        {% if crypto.Response %}
            Sorry, {{ quote }} doesn't exit. please try again...
        {% endif %}
        {%  for key,value in crypto.DISPLAY.items %}
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-4">{{ key }}</h1>
                <strong>name</strong>{{ key }}<br/>
                <strong>Price</strong>{{ value.USD.PRICE }}<br/>
                <strong>Day High</strong>{{ value.USD.HIGHDAY }}<br/>
                <strong>Day Low</strong>{{ value.USD.LOWDAY }}<br/>
                <strong>Market Cap</strong>{{ value.USD.MKTCAP }}<br/>
              </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}